#interface {
	height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;

}

header,
footer {
	display: flex;
	padding: 0.5em 1em;
	align-items: center;
	gap: 0.5em;
	
	background-color: hsl(var(--hue), var(--sat), 30%);
	color: hsl(var(--hue), var(--sat), 100%);
}
@import "header";