.login {
    display: flex;
    gap: .5em;
    line-height: 1;
    align-items: center;
    img {
        width: 1.5em;
        height: 1.5em;
        object-fit: cover;
        border-radius: 50%;
    }
}